/.vscode
/a.exe
/a.h
/armstrong.exe
/arrayBack.exe
/circularArray.exe
/equilibrium.exe
/gcd.exe
/josephus.exe
/josephus_2.exe
/kadane_max_subarray.exe
/kadane_min_subarray.exe
/Kthsmallest.exe
/max_circular_sum_subarray.exe
/max_consec_ones.exe
/palindrome.exe
/perfect.exe
/power.exe
/PowerSet.exe
/remove.exe
/remove_duplicates_from_sorted_array.exe
/reverse_words.exe
/seives_primes.exe
/set_bits.exe
/sieves.exe
/subarray_with_given_sum.exe
/tower_of_hanoi.exe
/tripping_rain_water.exe
/x_power_n.exe